[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
google-generativeai = "*"
groq = "*"
openai = "*"
opencv-python = "*"
streamlit = "*"
datasets = "*"
huggingface-hub = "*"

[dev-packages]

[requires]
python_version = "3.11"
